* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  color: #f7f8fa;
}

.logo-img {
  margin: 5px 5px;
}

.nav-item {
  text-decoration: none;
  color: #f7f8fa;
  margin: 0 10px;
}

.banner {
  height: 600px;
  background-size: cover;
}

.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}

.banner-info {
  width: 75%;
  position: absolute;
  top: 350px;
  left: 80px;
  z-index: 1;
  color: #f7f8fa;
}

.banner-info > h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-info > p {
  font-size: 1.3rem;
}

.movie-card {
  width: 100%;
  height: 200px;
  background-size: cover;
  cursor: pointer;
}

.home-container {
  margin-bottom: 5rem;
}

.home-container > section {
  padding: 3rem 2rem 0 2rem;
}

.home-container > section > h3 {
  margin-bottom: 1rem;
}

.overlay {
  opacity: 0;
  transition: all 0.5s;
}

.movie-card:hover .overlay {
  opacity: 1;
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.overlay > * {
  margin-left: 10px;
}

.overlay h3 {
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  width: 260px;
  text-overflow: ellipsis;
}

.overlay-badge > * {
  margin-right: 5px;
}

.overlay-info {
  position: absolute;
  bottom: 1rem;
}

.overlay-info > * {
  margin-right: 8px;
}

.eightteen {
  color: #dc143c !important;
  font-style: italic;
}

.movie-card-wrapper {
  width: 350px;
  height: 500px;
  position: relative;
  transition: all 300ms ease-out;
  cursor: pointer;
}

.movie-card-wrapper:hover {
  transform: scale(1.03);
}

.info-section {
  height: 95%;
  padding: 1.2rem;
  border-radius: 1rem;
}

.info-section::before {
  content: '';
  width: 100%;
  height: 95%;
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 1) 0%,
    rgba(20, 20, 20, 0.9) 50%,
    rgba(20, 20, 20, 0.8) 75%,
    rgba(20, 20, 20, 0.7) 80%,
    rgba(20, 20, 20, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}

.info-section > * {
  position: relative;
  z-index: 1;
}

.movie-card-title {
  display: flex;
  gap: 1rem;
}

.movie-card-title h1 {
  font-size: 1.6rem;
}

.movie-card-title h4 {
  font-size: 0.8rem;
  color: #8db5e3;
}

.movie-header ul {
  display: flex;
  list-style: none;
  margin: 0.8rem 0;
  padding: 0;
  gap: 8px;
  flex-wrap: wrap;
}

.movie-desc p {
  width: 230px;
  overflow: hidden; /* 영역을 감출 것 */
  text-overflow: ellipsis; /* ... 을 만들기 */
  line-height: 1.2;
  word-wrap: break-word; /* 단어 단위로 줄바꿈 */
  text-align: left;
  display: -webkit-box; /* 유연하게 height를 증감시킬 수 있는 플렉스박스 형태로 전환 */
  -webkit-line-clamp: 8; /* 보여줄 줄 수 */
  -webkit-box-orient: vertical; /* 플렉스 박스의 방향 설정(가로) */
}

.movie-social ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.movie-social span {
  margin-left: 5px;
}

.detail-wrapper {
  width: 80%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.movie-detail-img > img {
  width: 100%;
}

.genre-badge {
  font-size: 1rem;
  border-radius: 30px;
  margin-right: 10px;
  padding: 5px 20px;
}

.genre-badge-group {
  margin-bottom: 1.5rem;
}

.movie-detail-info {
  margin-left: 1.5rem;
}

.movie-detail-info > h1 {
  font-size: 3.5rem;
  margin-bottom: 1.3rem;
}

.movie-detail-info > p {
  margin: 1.5rem 0;
}

.movie-detail-social ul {
  display: flex;
  list-style: none;
  margin: 1.3rem 0;
  padding: 0;
  gap: 10px;
}

.movie-detail-social span {
  margin-left: 5px;
}

#line {
  width: 100%;
  height: 1.5px;
  background-color: white;
}

.movie-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.movie-info-list #info-badge {
  display: inline-block;
  width: 30%;
  font-size: 1rem;
  border-radius: 30px;
  padding: 8px 30px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.btn-trailer {
  border: none;
  background: transparent;
  color: red;
  margin-top: 2rem;
  padding: 5px 20px;
}

.btn-trailer:hover {
  outline: 1px solid red;
  border-radius: 5px;
}

.btn-trailer > span {
  margin-left: 10px;
}

.detail-info-section {
  padding-bottom: 5rem;
}

.review-tab {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 2rem;
}

.review-tab button {
  border: none;
  background: white;
  margin-right: 1rem;
  padding: 10px 35px;
  border-radius: 5px;
}

.review-tab button.active {
  background-color: red;
  color: white;
}

.tab-content {
  border: 1px solid white;
}

.tab-content > .review-div {
  padding: 1.5rem 0;
  margin: 1rem 2.5rem;
  border-bottom: 1px solid white;
}
.tab-content > .last-review {
  padding: 1.5rem 0;
  margin: 1rem 2.5rem;
  border-bottom: none;
}

.modal-90w {
  max-width: 90vw;
}

.modal-style {
  background-color: black;
  height: 90vh;
}

.modal-style > * {
  border: none;
}

.movie-margin {
  margin: 3rem;
}

.sort-section {
  width: 350px;
  border: 1px solid white;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.sort-section .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.3rem;
}

.name > * {
  margin: 0;
  font-weight: bold;
}

.sort-section #arrow-right {
  cursor: pointer;
  display: block;
}
.sort-section #arrow-down {
  cursor: pointer;
  display: none;
}

.sort-section.open #arrow-right {
  display: none;
}
.sort-section.open #arrow-down {
  display: block;
}

.sort-section .filter {
  text-align: center;
  padding: 1rem;
  display: none;
}
.sort-section .filter:not(:last-child) {
  border-bottom: 1px solid white;
}
.sort-section.open .filter {
  display: block;
}
.sort-section.open .name {
  border-bottom: 1px solid white;
}

.filter #dropdown-basic-button {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid red;
  width: 50%;
}

.filter .dropdown-item:active {
  background: #212529;
}

.year-filter,
.genres-filter {
  margin: 0.5rem;
  margin-bottom: 1.5rem;
}

.year-filter p {
  font-size: 0.8rem;
}

.year-filter span {
  font-weight: bold;
  font-size: 1.3rem;
}

.range-slider {
  height: 5px;
  margin-top: 1.2rem;
}

.range-slider .range-slider__range {
  background: red;
  border-radius: 4px;
}

.range-slider .range-slider__thumb {
  background: red;
  width: 15px;
  height: 15px;
}

.genres-filter .genres {
  margin: 1rem;
}

.genres-filter .badge {
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.genres-filter .badge.active {
  outline: 5px double white;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 50px auto;
}

.pagination li {
  width: 45px;
  height: 45px;
  background-color: #212529;
  border-radius: 50%;
  font-size: 1.2rem;
}

.pagination li.active {
  border: 1px solid white;
}

.pagination a {
  text-decoration: none;
  color: #f7f8fa;
  display: block;
  text-align: center;
  line-height: 45px;
}
